.eventsPage {
  height: 1150px;
  width: 375px;
  background: #292529;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  border: none;
}
.eventsPage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.eventsPage__headerRight {
  display: flex;
}

.eventsPage__headerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventsPage__headerLeft img {
  padding-right: 17px;
  padding-left: 17px;
  height: 19px;
  width: 11px;
}
.eventsPage__headerLeft span {
  color: #fff;
  font-size: 10px;
}
.eventsPage__headerRight img {
  height: 17px;
  width: 17px;
  padding-right: 34px;
  object-fit: contain;
}

.eventsPage > h3 {
  color: #fff;
  height: 40px;
  width: 402px;
  padding-left: 20px;
  padding-top: 20px;
}

.eventsPage__category .eventsPage__All {
  display: flex;
}
.eventsPage__category {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 300px;
  white-space: nowrap;
}

.calenders {
  margin-top: 1rem;
}
