.header {
  width: 984px;
  height: 84.86px;
  background-color: #211f21;
  color: #fff;
  /* margin-left: 532px; */
}

.header__imgs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__imgs img {
  width: 31.5px;
  padding: 1rem;
  height: 31.5px;
}
